/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
}
h1 {
  font-size: 4rem;
  color: #4054B2;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  color: #4054B2;
}
h3 {
  font-size: 1.6rem;
  color: #202A59;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h6 {
  font-family: Open Sans;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 600;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #202A59;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #4054B2;
  font-weight: 600;
}
.container {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/circle-overlay.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.container .inner {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1050px) {
  .container .inner {
    width: 85%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar div {
  width: 50%;
}
.navbar .logo {
  padding: 3% 2% 3% 0%;
  color: #4054B2;
}
.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btns a {
  text-decoration: none;
  padding: 3% 0% 2% 3%;
  width: 100%;
  font-size: 1.6rem;
  text-align: right;
}
nav {
  padding: 2% 0%;
}
header {
  margin: 3% 0% 11% 0%;
  text-align: center;
  width: 100%;
}
header .banner-btns {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
header .banner-btns div {
  width: 100%;
  padding: 2% 7%;
  margin: 4% 2% 5% 2%;
}
header h1 {
  padding: 3% 0% 5% 0%;
}
header h3 {
  font-size: 2.4rem;
  letter-spacing: 0.3px;
  line-height: 48px;
}
.green-ball {
  position: absolute;
  height: 32vh;
  width: 17%;
  left: 75%;
  top: 75%;
}
@media (max-width: 1300px) {
  .green-ball {
    left: 80%;
    top: 65%;
    height: 29vh;
  }
}
@media (max-width: 1050px) {
  .green-ball {
    left: 80%;
    top: 63%;
    height: 25vh;
  }
}
@media (max-width: 960px) {
  .green-ball {
    left: 80%;
    top: 59%;
    height: 23vh;
  }
}
@media (max-width: 860px) {
  .green-ball {
    left: 80%;
    top: 58%;
    height: 21vh;
  }
}
@media (max-width: 800px) {
  .green-ball {
    left: 80%;
    top: 52%;
    height: 19vh;
  }
}
@media (max-width: 720px) {
  .green-ball {
    display: none;
  }
}
.cta-btn {
  background-color: #4054B2;
  border-radius: 5px;
  color: white;
}
.login-btn {
  border: 1px solid #4054B2;
  border-radius: 5px;
  color: #4054B2;
  background-color: white;
}
#about {
  background-color: #ECEEF7;
  padding: 7% 0%;
}
#team {
  padding: 3% 0% 7% 0%;
}
.profiles {
  display: flex;
  width: 100%;
  padding: 3% 0%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
.profiles a {
  width: 25%;
  padding: 2%;
  text-decoration: none;
}
.headshot {
  width: 100%;
  height: 28vh;
  border-radius: 50%;
}
.headshot.one {
  position: relative;
  left: 18%;
  background-image: url(../img/team/shota-hs.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.headshot.one h3,
.headshot.one p {
  visibility: hidden;
  color: white;
}
.headshot.one:hover {
  opacity: 0.8;
}
.headshot.one:hover h3,
.headshot.one:hover p {
  visibility: visible;
  text-decoration: none;
}
.headshot.two {
  background-image: url(../img/placehold.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.headshot.two h3,
.headshot.two p {
  visibility: hidden;
  color: white;
}
.headshot.two:hover {
  opacity: 0.8;
}
.headshot.two:hover h3,
.headshot.two:hover p {
  visibility: visible;
  text-decoration: none;
}
.headshot.three {
  background-image: url(../img/placehold.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.headshot.three h3,
.headshot.three p {
  visibility: hidden;
  color: white;
}
.headshot.three:hover {
  opacity: 0.8;
}
.headshot.three:hover h3,
.headshot.three:hover p {
  visibility: visible;
  text-decoration: none;
}
.headshot.four {
  background-image: url(../img/placehold.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.headshot.four h3,
.headshot.four p {
  visibility: hidden;
  color: white;
}
.headshot.four:hover {
  opacity: 0.8;
}
.headshot.four:hover h3,
.headshot.four:hover p {
  visibility: visible;
  text-decoration: none;
}
.headshot.five {
  background-image: url(../img/placehold.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.headshot.five h3,
.headshot.five p {
  visibility: hidden;
  color: white;
}
.headshot.five:hover {
  opacity: 0.8;
}
.headshot.five:hover h3,
.headshot.five:hover p {
  visibility: visible;
  text-decoration: none;
}
.headshot.six {
  background-image: url(../img/placehold.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.headshot.six h3,
.headshot.six p {
  visibility: hidden;
  color: white;
}
.headshot.six:hover {
  opacity: 0.8;
}
.headshot.six:hover h3,
.headshot.six:hover p {
  visibility: visible;
  text-decoration: none;
}
.headshot.seven {
  background-image: url(../img/placehold.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.headshot.seven h3,
.headshot.seven p {
  visibility: hidden;
  color: white;
}
.headshot.seven:hover {
  opacity: 0.8;
}
.headshot.seven:hover h3,
.headshot.seven:hover p {
  visibility: visible;
  text-decoration: none;
}
.headshot.eight {
  background-image: url(../img/team/me.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.headshot.eight h3,
.headshot.eight p {
  visibility: hidden;
  color: white;
}
.headshot.eight:hover {
  opacity: 0.8;
}
.headshot.eight:hover h3,
.headshot.eight:hover p {
  visibility: visible;
  text-decoration: none;
}
.prof-pic {
  width: 35%;
  border-radius: 50%;
  margin-bottom: 3%;
}
.profile-section {
  padding-bottom: 6%;
}
