/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
}
h1 {
  font-size: 4rem;
  color: #4054B2;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  color: #4054B2;
}
h3 {
  font-size: 1.6rem;
  color: #202A59;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h6 {
  font-family: Open Sans;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 600;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #202A59;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #4054B2;
  font-weight: 600;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.container .inner {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar div {
  width: 50%;
}
.navbar .logo {
  padding: 3% 2% 3% 0%;
  color: #4054B2;
}
.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btns a {
  text-decoration: none;
  padding: 3% 0% 2% 3%;
  width: 100%;
  font-size: 1.6rem;
  text-align: right;
}
nav {
  padding: 2% 0%;
}
header {
  margin: 3% 0% 10% 0%;
  text-align: center;
  width: 100%;
}
header .banner-btns {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
header .banner-btns div {
  width: 100%;
  padding: 2% 7%;
  margin: 4% 2% 5% 2%;
}
header h1 {
  padding: 3% 0% 5% 0%;
}
header h3 {
  font-size: 2.4rem;
  letter-spacing: 0.3px;
  line-height: 48px;
}
.cta-btn {
  background-color: #4054B2;
  border-radius: 5px;
  color: white;
}
.login-btn {
  border: 1px solid #4054B2;
  border-radius: 5px;
  color: #4054B2;
}
#about {
  background-color: #ECEEF7;
  padding: 4% 0%;
}
#team {
  padding: 4% 0%;
  margin-bottom: 18%;
}
.headshot {
  width: 15%;
  height: 28vh;
  border-radius: 50%;
}
.headshot.one {
  position: absolute;
  width: 14%;
  left: 200px;
  right: 0%;
  top: 1400px;
  bottom: 0;
}
.headshot.eight {
  position: absolute;
  width: 16%;
  left: 500px;
  right: 0%;
  top: 1500px;
  bottom: 0;
}
