header {
    margin: 4% 0% 13% 0%;
    text-align: center;
    width: 100%;
    .banner-btns{
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 0 auto;
        div {
            width: 100%;
            padding: 2% 7%;
            margin: 4% 2% 5% 2%;
        }
    }
    h1 {
        padding: 3% 0% 5% 0%;
    }
    h3 {
        font-size: 2.4rem;
        letter-spacing: 0.3px;
        line-height: 48px;
    }
}

.cta-btn {
    background-color: @main-color;
    border-radius: 5px;
    color: white;
}

.login-btn {
    border: 1px solid @main-color;
    border-radius: 5px;
    color: @main-color;
}

.bg{
    background-image: url(../img/bg-circles.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
}