header {
    margin: 3% 0% 11% 0%;
    text-align: center;
    width: 100%;
    .banner-btns{
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 0 auto;
        div {
            width: 100%;
            padding: 2% 7%;
            margin: 4% 2% 5% 2%;
        }
    }
    h1 {
        padding: 3% 0% 5% 0%;
    }
    h3 {
        font-size: 2.4rem;
        letter-spacing: 0.3px;
        line-height: 48px;
    }
}

.green-ball {
    position: absolute;
    height: 32vh;
    width: 17%;
    left: 75%;
    top: 75%;
    @media (max-width: 1300px){
        left: 80%;
        top: 65%;
        height: 29vh;
    }
    @media (max-width: 1050px){
        left: 80%;
        top: 63%;
        height: 25vh;
    }
    @media (max-width: 960px){
        left: 80%;
        top: 59%;
        height: 23vh;
    }
    @media (max-width: 860px){
        left: 80%;
        top: 58%;
        height: 21vh;
    }
    @media (max-width: 800px){
        left: 80%;
        top: 52%;
        height: 19vh;
    }
    @media (max-width: 720px){
        display:none;
    }
}

.cta-btn {
    background-color: @main-color;
    border-radius: 5px;
    color: white;
}

.login-btn {
    border: 1px solid @main-color;
    border-radius: 5px;
    color: @main-color;
    background-color: white;
}

#about {
    background-color: @section-bg;
    padding: 7% 0%;
}

// .new-bg {
//     position: absolute;
//     left: -170.69%;
//     right: 26.84%;
//     top: -6.55%;
//     bottom: -16.72%;
//     border: 0.4px solid rgba(130, 130, 130, 0.4);
// }

#team {
    padding: 3% 0% 7% 0%;
}

.profiles {
    display: flex;
    width: 100%;
    padding: 3% 0%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    a{
        width:25%;
        padding: 2%;
        text-decoration: none;
    }
}

.headshot {
    width: 100%;
    height: 28vh;
    border-radius: 50%;

    &.one{
        position: relative;
        // width: 12%;
        left: 18%;
        // right: 0%;
        // top: 231%;
        // bottom: 0;
        background-image: url(../img/team/shota-hs.jpg);
        .setProfiles();
    }
    &.two{
        // position: absolute;
        // width: 12%;
        // left: 44%;
        // right: 0%;
        // top: 250%;
        // bottom: 0;
        background-image: url(../img/placehold.jpg);
        .setProfiles();
    }
    &.three{
        // position: absolute;
        // width: 12%;
        // left: 74%;
        // right: 0%;
        // top: 236%;
        // bottom: 0;
        background-image: url(../img/placehold.jpg);
        .setProfiles();
    }
    &.four{
        // position: absolute;
        // width: 12%;
        // left: 24%;
        // right: 0%;
        // top: 278%;
        // bottom: 0;
        background-image: url(../img/placehold.jpg);
        .setProfiles();
    }
    &.five{
        // position: absolute;
        // visibility: hidden;
        // width: 12%;
        // left: 57%;
        // right: 0%;
        // top: 288%;
        // bottom: 0;
        background-image: url(../img/placehold.jpg);
        .setProfiles();
    }
    &.six{
        // position: absolute;
        // visibility: hidden;
        // width: 12%;
        // left: 30%;
        // right: 0%;
        // top: 276%;
        // bottom: 0;
        background-image: url(../img/placehold.jpg);
        .setProfiles();
    }
    &.seven{
        // position: absolute;
        // visibility: hidden;
        // width: 12%;
        // left: 60%;
        // right: 0%;
        // top: 260%;
        // bottom: 0;
        background-image: url(../img/placehold.jpg);
        .setProfiles();
    }
    &.eight{
        // position: absolute;
        // visibility: hidden;
        // width: 14%;
        // left: 40%;
        // right: 0%;
        // top: 230%;
        // bottom: 0;
        background-image: url(../img/team/me.jpg);
        .setProfiles();
    }
  }

  .prof-pic {
      width:35%;
      border-radius: 50%;
      margin-bottom: 3%;
  }

  .profile-section {
      padding-bottom: 6%;
  }