@fa-font-path: "../webfonts";

// Color Assignments
@main-color: @spider-blue;
@section-bg: @spider-accent;
@page-elements: @spider-secondary;
@main-font: @spider-dark;

// Colors
@spider-blue: #4054B2;
@spider-accent: #ECEEF7;
@spider-secondary: #33D9B2;
@spider-purple: #706FD3;
@spider-dark: #202A59;

//Escape
@phone: ~'(max-width: 500px)';
